{% extends 'base.html' %}
{% load static %}

{% block title %}Biodata{% endblock %}
{% block page_title %}HSI Boarding School Purworejo{% endblock %}
{% block subtitle %}Website Profil Sederhana — Kelas X (10c){% endblock %}

{% block content %}
<!-- Biodata Singkat -->
    <div class="kotak">
      <h2 class="judul-kotak">Biodata Singkat</h2>
      <p><b>Kelas:</b> 10C - Asrama Ibnu Qoyyim</p>
      <p>
        Assalamualaikum warahmatullahi wabarakatuh!<br />
        Saya adalah siswa HSI Boarding School Purworejo. Saya menyukai belajar
        teknologi dan ingin menjadi pribadi yang selalu menebar manfaat.
      </p>
    </div>
    <!-- Hobi -->
    <div class="kotak">
      <h2 class="judul-kotak">Hobi</h2>
      <ul>
        <li>Balap liar</li>
        <li>Modif Motor</li>
        <li>Nongki</li>
      </ul>
    </div>
    <!-- Cita-cita -->
    <div class="kotak">
      <h2 class="judul-kotak">Cita-cita</h2>
      <ul>
        <li>Pengusaha</li>
        <li>Juragan Sembako</li>
        <li>Joki Derrag</li>
      </ul>
    </div>
    <!-- Kontak -->
    <div class="kotak">
      <h2 class="judul-kotak">Kontak</h2>
      <p>
        WhatsApp: 0856-9262-7558 <br />
        Telegram: Wildan ajaa <br />
        Instagram: @ whildnss
       
        
        <br />
        Email: muhhwildan1234 gmail.com <br />
        
      </p>
    </div>

    <footer>
      <p>
        © 2025 HSI Boarding School Purworejo 
      </p>
    </footer>
{% endblock %}