{% extends 'base.html' %}

{% block title %}Beranda{% endblock %}
{% block page_title %}HSI Boarding School{% endblock %}
{% block subtitle %}Website Profil Santri{% endblock %}

{% block content %}
    <div class="table-container">
      <div class="table-title">Jadwal Kegiatan santri</div>
      <h3></h3>
      <table>
        <tr>
          <th colspan="2">Waktu</th>
          <th>Hari</th>
          <th>Kegiatan</th>
        </tr>
        <tr>
          <td>08:00</td>
          <td>10:00</td>
          <td>Senin</td>
          <td>Pelajaran Web Dasar (Teori HTML)</td>
        </tr>
        <tr>
          <td>10:00</td>
          <td>10:30</td>
          <td>-</td>
          <td>ISTIRAHAT (Snack & Shalat Dhuha)</td>
        </tr>
        <tr>
          <td>10:30</td>
          <td>12:00</td>
          <td>Senin</td>
          <td>Latihan Praktikum HTML Table</td>
        </tr>
        <tr>
          <td>14:00</td>
          <td>16:00</td>
          <td>Selasa</td>
          <td>Pelajaran Web Dasar (Teori CSS & Box Model)</td>
        </tr>
        <tr>
          <td>16:00</td>
          <td>16:45</td>
          <td>Selasa</td>
          <td>Olahraga (Renang)</td>
        </tr>
      </table>
    </div>
    <footer>
      <p>
        © 2025 HSI Boarding School Purworejo 
      </p>
    </footer>
{% endblock %}