{% extends 'base.html' %}

{% block title %}Beranda - Website Profil Santri{% endblock %}
{% block page_title %}HSI Boarding School Purworejo{% endblock %}
{% block subtitle %}Website Profil Sederhana - Kelas X{% endblock %}

{% block content %}

  
<div>

  <!-- Sambutan -->
  <div>
    <h2>Selamat Datang</h2>
    <p>
      Selamat datang di mini website saya.<br>
      Situs ini berisi <b>biodata</b>, <b>hobi</b>, dan <b>cita-cita</b> saya sebagai santri HSI Boarding School.<br>
      Silakan jelajahi halaman biodata untuk mengenal saya lebih banyak.
    </p>
  </div>

  <!-- Cita-cita -->
  <div>

    <p>
      Saya ingin menjadi <b>programmer handal</b> yang mampu mengubah dunia melalui teknologi.<br>
      Ingin menggunakan keahlian pemrograman untuk tujuan positif, keamanan siber, dan membantu masyarakat.
    </p>
  </div>

</div>

 <section>
    <h3>Pengantar</h3>
    <p class="lead">
      Selamat datang di website profil sederhana saya. <br />
      Situs ini berisi biodata, hobi, dan cita-cita saya sebagai siswa HSI
      Boarding School Purworejo. <br />
      Silakan jelajahi tautan navigasi di atas untuk mengenal saya lebih dekat.
    </p>
  </section>

<footer >
  © 2025 HSI Boarding School Purworejo 
</footer>

 
  ...
  ...
{% endblock %}